<Card class="my-3">
    <Content>
        <CardBody>
            <h5 class="card-title">
                <DownloadLink Download="Download"></DownloadLink>
            </h5>

            <p class="card-text">@Download.ShortDescription</p>

            @if (Download.Updated != null)
            {
                <p class="card-text">
                    <small class="text-muted">Last updated @Download.UpdatedString()</small>
                </p>
            }
        </CardBody>
        <AuthorizeView Resource="Download" Policy="@AuthorizationPolicies.CanEditDownload">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="card-link" href="@($"/downloads/{Download.Id}/edit")">Edit</a>
                    <a class="card-link" href="@($"/downloads/{Download.Id}/files")">Files</a>
                    <a class="card-link" href="@($"/downloads/{Download.Id}/authors")">Authors</a>
                    <a class="card-link" href="@($"/downloads/{Download.Id}/delete")">Delete</a>
                </li>
            </ul>
        </AuthorizeView>
        <CardFooter>
            <p class="text-muted mb-0">
                Created by <UserLink User="@Download.Authors.First()"></UserLink>

                @if (Download.Authors.Count() > 1)
                {
                    @:&amp; @(Download.Authors.Count() - 1) others
                }
            </p>
        </CardFooter>
    </Content>
</Card>

@code {
    [Parameter] public Download Download { get; set; }

}