@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewData["Title"]?.ToString()))
        {
            @($"{ViewData["Title"]} - ")
        }
        TobyMeehan
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/carddeck.css" />
    <link rel="stylesheet" href="~/css/fonts.css" />
    <link rel="stylesheet" href="~/css/darktheme.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/background-dark.css" />
    <link rel="stylesheet" href="~/css/snow.css" />

    <partial name="~/Shared/_Favicons.cshtml" />

    @RenderSection("Head", required: false)

    <script src="https://kit.fontawesome.com/ea7d42651e.js" crossorigin="anonymous"></script>
</head>
<body class="h-100 @ViewData["BodyClass"]">
    @RenderBody()

    <script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>
    <script src="~/js/CKEditor.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/snow.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
