@using BlazorUI.Extensions

@page "/downloads/{Id}/authors"
@layout EditLayout

@if (_download == null)
{
    <LoadingMessage Text="true" />
}
else
{
    <AuthorizeView Resource="_download" Policy="@Authorization.Policies.EditDownload">
        <Authorized>
            <div class="row">
                <div class="col-md-6">
                    <div class="card my-3">
                        <div class="card-body">
                            <h2>Add Authors</h2>

                            <ul class="list-group list-group-flush">
                                @foreach (var user in _users)
                                {
                                    <li class="list-group-item">
                                        <a href="" role="button" @onclick="() => AddUser_Click(user)" @onclick:preventDefault>@user.Username</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card my-3">
                        <div class="card-body">
                            <h2>Manage Authors</h2>
                            <ul class="list-group list-group-flush mb-3">
                                @foreach (var author in _download.Authors)
                                {
                                    if (author.Id == _download.CreatorId)
                                    {
                                        <li class="list-group-item list-group-item-primary d-flex justify-content-between">
                                            <span class="my-auto"><DisplayUser Username="@author.Username" /></span>
                                            <button class="btn btn-danger disabled"><i class="fas fa-user-minus"></i> Remove</button>
                                        </li>
                                    }
                                    else if (author.Id == _context.User.GetUserId())
                                    {
                                        <li class="list-group-item list-group-item-secondary d-flex justify-content-between">
                                            <span class="my-auto"><DisplayUser Username="@author.Username" /></span>
                                            <button class="btn btn-secondary" @onclick="() => RemoveUser_Click(author)"><i class="fas fa-user-slash"></i> Leave</button>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span class="my-auto"><DisplayUser Username="@author.Username" /></span>
                                            <button class="btn btn-danger" @onclick="() => RemoveUser_Click(author)"><i class="fas fa-user-minus"></i> Remove</button>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <DisplayAlert Alert="_accessDeniedAlert" />
            <Redirect Path="@($"/downloads/{Id}")" />
        </NotAuthorized>
    </AuthorizeView>
}
