@page "/downloads/{Id}/files"
@layout EditLayout

@if (_download == null)
{
    <LoadingMessage Text="true" />
}
else
{
    <AuthorizeView Resource="_download" Policy="@Authorization.Policies.EditDownload">
        <Authorized>
            <div class="custom-file mb-3">
                <EditForm Model="_download" Context="formContext">
                    <InputFile id="FileUpload" class="custom-file-input" OnChange="FileUpload_Change" multiple />
                    <label class="custom-file-label" for="FileUpload"><i class="fas fa-upload"></i> Upload file (100MB)</label>
                </EditForm>
            </div>

            <table class="table table-hover table-sm">
                <tbody>
                    @foreach (string file in _download.Files)
                    {
                        <tr>
                            <td>
                                <FileIcon Filename="@file" />
                            </td>
                            <td>
                                <a class="my-auto" href="@($"{_downloadHost}/{Id}/{file}")">@file</a>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-outline-danger" @onclick="() => DeleteFile_Click(file)">Delete</button>
                            </td>
                        </tr>
                    }

                    @foreach (var upload in uploadState.Uploads.Where(x => x.Download == _download.Id && !x.IsComplete))
                    {
                        <tr>
                            <td>
                                <i class="fas fa-file-upload"></i>
                            </td>
                            <td>
                                @upload.Filename
                            </td>
                            <td>
                                @switch (upload.Status)
                                {
                                    case UploadFileResult.InProgress:
                                        <ProgressBar style="height: 20px;" Context="BootstrapContext.Primary" PercentageProgress="@upload.PercentageProgress">
                                            Uploading @upload.PercentageProgress%
                                        </ProgressBar>
                                        break;
                                    case UploadFileResult.Queued:
                                        <ProgressBar style="height: 20px;" Context="BootstrapContext.Info" PercentageProgress="100">
                                            Queued
                                        </ProgressBar>
                                        break;
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Authorized>
        <NotAuthorized>
            <DisplayAlert Alert="_accessDeniedAlert" />
            <Redirect Path="/downloads" />
        </NotAuthorized>
    </AuthorizeView>
}
