@page "/downloads"

<Title Value="Downloads"></Title>

<h1>Downloads</h1>

<p>Downloads are a way to share collections of files under one page. The whole system is fairly limited currently, but I do plan to add more features, including versioning and a desktop application for automatic installation of applications, which most downloads currently are.</p>

<p>There is a verification system for downloads, which is mainly in place for executable files. Verified <i class="fas fa-check-circle"></i> downloads I have checked and are safe to install and run. Dangerous <i class="fas fa-exclamation-circle"></i> downloads are not safe to run, or are easy to use in a damaging way. Downloads with neither of these have either not been checked or do not quite qualify for being verified. Given the relatively low traffic I can check downloads fairly rapidly so it's probably safe to assume unmarked downloads are safe.</p>

<AuthorizeView Policy="@Authorization.Policies.IsVerified">
    <p>
        <DownloadLink Action="DownloadLink.ActionType.Add">Add Download</DownloadLink>
    </p>
</AuthorizeView>

<hr />

@if (_downloads == null)
{
    <LoadingMessage Text="false" />
}
else
{
    <div class="card-deck card-deck-responsive">
        @foreach (var download in _downloads)
        {
            <div class="card my-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <DownloadTitle Id="@download.Id" Title="@download.Title" Link="false" />
                    </h5>
                    <p class="card-text">@download.ShortDescription</p>
                </div>
                <ul class="list-group list-group-flush">
                    <AuthorizeView Resource="download" Policy="@Authorization.Policies.EditDownload">
                        <li class="list-group-item">
                            <DownloadLink Id="@download.Id" Action="DownloadLink.ActionType.Edit" class="card-link">Edit</DownloadLink>
                            <DownloadLink Id="@download.Id" Action="DownloadLink.ActionType.Delete" class="card-link">Delete</DownloadLink>
                        </li>
                    </AuthorizeView>
                    <li class="list-group-item">
                        <DownloadLink Id="@download.Id" Action="DownloadLink.ActionType.View" class="btn btn-outline-primary btn-block">View Page</DownloadLink>
                    </li>
                </ul>
                <div class="card-footer">
                    <p class="text-muted mb-0">Created by <DisplayUser Id="@download.CreatorId" /></p>
                </div>
            </div>
        }
    </div>
}
