@inherits LayoutComponentBase
@layout DefaultLayout

@inject EditDownloadState state

<Title>Edit @(state.Title ?? "Download")</Title>

<h1>
    Edit
    <small class="text-muted">@state.Title</small>
</h1>

<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <NavLink class="nav-link text-light" href="@($"/downloads/{state.Id}")" Match="NavLinkMatch.All"><i class="fas fa-file-alt"></i> Page</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-light" href="@($"/downloads/{state.Id}/edit")"><i class="fas fa-edit"></i> Edit</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-light" href="@($"/downloads/{state.Id}/files")"><i class="far fa-folder-open"></i> File Manager</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-light" href="@($"/downloads/{state.Id}/authors")"><i class="fas fa-users-cog"></i> Authors</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-light" href="@($"/downloads/{state.Id}/delete")"><i class="fas fa-trash"></i> Delete</NavLink>
    </li>
</ul>

@Body

@code {
    protected override void OnInitialized()
    {
        state.OnChange += StateHasChanged;
    }
}
