@page "/downloads/{Id}/files"
@layout EditLayout

@if (_download == null)
{
    <Loading></Loading>
}
else
{
    <AuthorizeView Resource="_download" Policy="@AuthorizationPolicies.CanEditDownload">
        <NotAuthorized>
            <Challenge>
                <Alert Context="BootstrapContext.Danger">
                    You are not authorised to manage files for this download.
                </Alert>
            </Challenge>
        </NotAuthorized>
        <Authorized>
            <div class="custom-file mb-3">
                <EditForm Model="_download" Context="formContext">
                    <InputFile id="FileUpload" class="custom-file-input" OnChange="FileUpload_Change" multiple />
                    <label class="custom-file-label" for="FileUpload"><i class="fas fa-upload"></i> Upload file (200MB)</label>
                </EditForm>
            </div>

            <Table Hover="true" class="table-sm">
                <Body>
                    @foreach (var file in _download.Files)
                    {
                        <tr>
                            <td>
                                <FileIcon Filename="@file.Filename"></FileIcon>
                            </td>
                            <td>
                                <FileLink class="my-auto" Download="@_download.Id" Filename="@file.Filename">@file.Filename</FileLink>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-outline-primary" @onclick="() => SetRename(file)" data-toggle="modal" data-target="#RenameModal">Rename</button>
                                <button class="btn btn-sm btn-outline-danger" @onclick="() => DeleteFile_Click(file)">Delete</button>
                            </td>
                        </tr>
                    }

                    @foreach (var upload in _uploadTasks)
                    {
                        <tr>
                            <td>
                                <i class="fas fa-file-upload"></i>
                            </td>
                            <td>
                                @upload.Filename
                            </td>
                            <td>
                                @switch (upload.Status)
                                {
                                    case Tasks.TaskStatus.InProgress:
                                        <ProgressBar style="height: 20px;" Context="BootstrapContext.Primary" PercentageProgress="@upload.PercentageProgress">
                                            Uploading @upload.PercentageProgress%
                                        </ProgressBar>
                                        break;

                                    case Tasks.TaskStatus.Queued:
                                        <ProgressBar style="height: 20px;" Context="BootstrapContext.Primary" PercentageProgress="100">
                                            Queued
                                        </ProgressBar>
                                        break;
                                }
                            </td>
                        </tr>
                    }
                </Body>
            </Table>


            <Modal id="RenameModal">
                <Title>
                    <i class="fas fa-pen"></i>
                    Rename
                </Title>
                <Body>
                    <EditForm Model="_filenameForm" Context="renameFormContext" OnValidSubmit="RenameFile_Submit">
                        <DataAnnotationsValidator />
                        <ServerSideValidator @ref="_serverSideValidator" />

                        <div class="form-group">
                            <InputFilename @bind-Value="_filenameForm.Filename" />
                            <ValidationMessage For="() => _filenameForm.Filename" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Rename</button>
                        </div>

                        <p>Due to browser caching, it may take time for users to see your new name.</p>

                        <input type="hidden" @bind-value="_filenameForm.Id" />
                    </EditForm>
                </Body>
            </Modal>

        </Authorized>
    </AuthorizeView>
}