@page "/users/{Username}"

<Title Value="@Username"></Title>

@if (_user == null)
{
    <LoadingMessage Text="true" />
}
else
{
    <div class="card my-3">
        <div class="card-body">
            <h3>
                <DisplayUser Username="@Username" Link="false" />

                @if (_user.Roles.Any())
                {
                    <small class="text-muted">@_user.Roles.First().Name</small>
                }
            </h3>
        </div>
    </div>

    @if (_user.IsVerified)
    {
        <div class="card my-3">
            <div class="card-body">
                <h3>@Username's Downloads</h3>
                @if (!_downloads.Any())
                {
                    <p>@Username has not created any downloads.</p>
                }
                else
                {
                    @foreach (var download in _downloads)
                    {
                        <DownloadCard Download="download" />
                    }
                }
            </div>
        </div>
    }

    <AuthorizeView Policy="@Authorization.Policies.IsAdmin">
        <div class="card my-3">
            <div class="card-body">
                <h3>Admin Actions</h3>
                <hr />
                <h4>Reset Password</h4>
                <EditForm Model="_adminPasswordForm" Context="formContext" OnValidSubmit="AdminPasswordForm_Submit">
                    <DataAnnotationsValidator />
                    <ServerSideValidator @ref="_adminPasswordValidator" />

                    <div class="form-group row">
                        <label for="NewPassword" class="col-md-2 col-form-label">New Password</label>
                        <div class="col-md-10">
                            <InputText id="NewPassword" type="password" @bind-Value="_adminPasswordForm.NewPassword" class="form-control" />
                            <ValidationMessage For="() => _adminPasswordForm.NewPassword" class="text-danger" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ConfirmNewPassword" class="col-md-2 col-form-label">Confirm New Password</label>
                        <div class="col-md-10">
                            <InputText id="ConfirmNewPassword" type="password" @bind-Value="_adminPasswordForm.ConfirmNewPassword" class="form-control" />
                            <ValidationMessage For="() => _adminPasswordForm.ConfirmNewPassword" class="text-danger" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="AdminPassword" class="col-md-2 col-form-label">Admin Password</label>
                        <div class="col-md-10">
                            <InputText id="AdminPassword" type="password" @bind-Value="_adminPasswordForm.CurrentPassword" class="form-control" />
                            <ValidationMessage For="() => _adminPasswordForm.CurrentPassword" />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </EditForm>
                <hr />
                <h4>Manage Roles</h4>
                <div class="row">
                    <div class="col-md-2">
                        <h5>Add Roles</h5>
                    </div>
                    <div class="col-md-5">
                        <div class="card my-3">
                            <div class="card-body">
                                <h5>Available Roles</h5>

                                <ul class="list-group list-group-flush">
                                    @foreach (var role in _roles)
                                    {
                                        <li class="list-group-item">
                                            <button class="btn btn-outline-primary btn-block" @onclick="() => AddRole_Click(role)">
                                                <i class="fas fa-plus-circle"></i>
                                                @role.Name
                                            </button>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card my-3">
                            <div class="card-body">
                                <h5>User's Roles</h5>

                                <ul class="list-group list-group-flush">
                                    @foreach (var role in _user.Roles)
                                    {
                                        <li class="list-group-item">
                                            <button class="btn btn-outline-danger btn-block" @onclick="() => RemoveRole_Click(role)">
                                                <i class="fas fa-minus-circle"></i>
                                                @role.Name
                                            </button>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </AuthorizeView>
}
