<div class="card my-3">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h5 class="my-auto">
                <a href="@($"/downloads/{Download.Id}")" class="text-dark text-decoration-none">@Download.Title</a>
            </h5>

            <AuthorizeView Resource="Download" Policy="@Authorization.Policies.EditDownload">
                <div class="btn-group">
                    <a href="@($"/downloads/{Download.Id}/edit")" class="btn btn-warning"><i class="fas fa-edit"></i> Edit</a>
                    <a href="@($"/downloads/{Download.Id}/delete")" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>
                </div>
            </AuthorizeView>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">@Download.ShortDescription</p>
    </div>
</div>

@code {
    [Parameter] public Models.Download Download { get; set; }
}
