@inherits LayoutComponentBase

@inject AlertState alertState
@inject FileUploadState uploadState

<div class="jumbotron banner-logo"></div>

<NavMenu />

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-8 text-left">
            @foreach (var alert in alertState.Queue)
            {
                <div class="@($"alert alert-{alert.Context.ToString().ToLower()} alert-dismissible fade show")" role="alert">
                    @if (alert.Title != null)
                    {
                        <h4 class="alert-heading">@alert.Title</h4>
                    }

                    @((MarkupString)alert.Body)
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            @Body
        </div>

        <div class="col-sm-2">
            @if (uploadState.Uploads.Any())
            {
                <div class="card mt-sm-5">
                    <div class="card-header">
                        Uploading Files
                    </div>
                    <ul class="list-group list-group-flush text-left">
                        @foreach (var upload in uploadState.Uploads)
                        {
                            switch (upload.Status)
                            {
                                case UploadFileResult.Success:
                                    <li class="list-group-item list-group-item-success">
                                        <div class="d-flex w-100 justify-content-between">
                                            @upload.Filename
                                            <button type="button" class="close ml-auto" aria-label="Close" @onclick="() => uploadState.DismissUpload(upload)">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <small>Upload Complete</small>
                                    </li>
                                    break;
                                case UploadFileResult.Cancelled:
                                    <li class="list-group-item list-group-item-warning">
                                        <div class="d-flex w-100 justify-content-between">
                                            @upload.Filename
                                            <button type="button" class="close ml-auto" aria-label="Close"
                                                    @onclick="() => uploadState.DismissUpload(upload)">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <small>Upload Cancelled</small>
                                    </li>
                                    break;
                                case UploadFileResult.Failed:
                                    <li class="list-group-item list-group-item-danger">
                                        <div class="d-flex w-100 justify-content-between">
                                            @upload.Filename
                                            <button type="button" class="close ml-auto" aria-label="Close"
                                                    @onclick="() => uploadState.DismissUpload(upload)">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <small>Upload Failed</small>
                                    </li>
                                    break;
                                case UploadFileResult.InProgress:
                                    <li class="list-group-item">
                                        <div class="d-flex w-100 justify-content-between">
                                            <span>
                                                <span class="spinner-border spinner-border-sm" role="status"></span>
                                                @upload.Filename
                                            </span>
                                            <button type="button" class="btn btn-link btn-sm p-0 text-muted"
                                                    @onclick="upload.CancellationTokenSource.Cancel">
                                                Cancel
                                            </button>
                                        </div>
                                        
                                        <div class="progress mt-1">
                                            <div class="progress-bar bg-dark" role="progressbar"
                                                 style="@($"width: {upload.PercentageProgress}%")"
                                                 aria-valuemin="0" aria-valuenow="@upload.PercentageProgress" aria-valuemax="100">
                                                @($"{upload.PercentageProgress}%")
                                            </div>
                                        </div>
                                    </li>
                                    break;
                            }

                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>

<hr />

<footer class="container-fluid text-center">
    <p>&copy; @DateTime.Now.Year Toby Meehan</p>
    <p>
        <a href="/update">Version 2.1</a>
    </p>
</footer>

@code {
    protected override void OnInitialized()
    {
        alertState.OnChange += StateHasChanged;
        uploadState.OnStateChanged += async () => await InvokeAsync(StateHasChanged);
    }
}
