@model IEnumerable<WebApi.Models.ApplicationModel>

@{
    ViewData["Title"] = "Developer";
    Layout = "~/Views/Shared/_DeveloperLayout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RedirectUri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Secret)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RedirectUri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Secret)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { appid = item.AppId }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!Model.Any())
{
    <p>You haven't created any applications.</p>
}
