@model IEnumerable<WebApi.Models.Application>

@{
    ViewData["Title"] = "Developer";
    Layout = "~/Views/Shared/_DeveloperLayout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Client ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-appid="@item.Id">@item.Name</a>
                </td>
                <td>
                    @item.Id
                </td>
                <td>
                    <a asp-action="Edit" asp-route-appid="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-appid="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!Model.Any())
{
    <p>You haven't created any applications.</p>
}
