@page "/developer/applications/{id}"

@if (_application == null)
{
    <Loading></Loading>
}
else
{
    <h2>Information</h2>

    <div class="row">
        <div class="col-md-3">
            <label>Icon</label>

            <Card class="text-center">
                <label for="UploadIcon" class="d-block" style="cursor: pointer;">
                    <AppIcon Application="_application"></AppIcon>
                </label>

                <div class="validation-message">
                    @_iconError
                </div>

                <button type="button" class="btn btn-danger btn-sm btn-block mb-0 mt-2" @onclick="RemoveIcon_Click">
                    Remove
                </button>
            </Card>

            <InputFile id="UploadIcon" accept="image/*" hidden OnChange="Icon_Change" />
        </div>

        <div class="col-md-9">
            <EditForm Model="_model" OnValidSubmit="InformationForm_Submit">
                <DataAnnotationsValidator />
                <ServerSideValidator @ref="_serverSideValidator" />

                <div class="form-group">
                    <label for="Name">Name</label>
                    <InputText class="form-control" id="Name" @bind-Value="_model.Name" />
                    <ValidationMessage For="() => _model.Name" />
                </div>

                <div class="card-group mb-2">
                    <Card>
                        <label class="m-0">Client ID</label>
                        <br />
                        <code>@_application.Id</code>
                        <br />
                        <button class="btn btn-secondary btn-sm mt-2" @onclick="() => js.CopyToClipboard(_application.Id)">Copy</button>
                    </Card>
                    <Card>
                        <label class="m-0">Client Secret</label>
                        @if (_application.Secret != null)
                        {
                            <br />
                            <code>@_application.Secret</code>
                            <br />
                            <button class="btn btn-secondary btn-sm mt-2" @onclick="() => js.CopyToClipboard(_application.Secret)">Copy</button>
                        }
                    </Card>
                </div>

                <div class="form-group">
                    <label for="RedirectUri">Redirect URI</label>
                    <InputRedirectUri id="RedirectUri" @bind-Value="_model.RedirectUri" />
                    <ValidationMessage For="() => _model.RedirectUri" />
                </div>

                <div class="form-group">
                    <label for="Description">Description</label>
                    <InputTextArea id="description" class="form-control" rows="4" @bind-Value="_model.Description" maxlength="400" />
                    <ValidationMessage For="() => _model.Description" />
                </div>

                <div class="form-group row m-0">
                    <button type="submit" class="btn btn-primary">Save</button>

                    <button type="button" class="btn btn-danger ml-auto" data-toggle="modal" data-target="#DeleteModal">Delete App</button>
                </div>
            </EditForm>
        </div>
    </div>

    <Modal id="DeleteModal">
        <Title>Delete @_application.Name</Title>
        <Body>
            Are you sure you want to delete @_application.Name? This action cannot be undone.
        </Body>
        <Footer>
            <button class="btn btn-danger" data-dismiss="modal" @onclick="Delete_Click">Delete</button>
            <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </Footer>
    </Modal>

    <hr />

    <h2>Scoreboard</h2>

    <p>Use the scoreboard to persist user-specific data between sessions. Data stored in the scoreboard is not shown anywhere other than where your app displays it, so you can use it for whatever you like.</p>

    <EditForm class="form-inline" Model="_objectiveForm" OnValidSubmit="AddObjective_Submit">
        <label class="mr-2" for="ObjectiveName">New Objective</label>

        <InputText class="form-control mr-sm-2" id="ObjectiveName" placeholder="Objective Name" @bind-Value="_objectiveForm.Name" />

        <button type="submit" class="btn btn-primary">Create</button>
    </EditForm>

    @if (!_scoreboard.Any())
    {
        <p class="font-weight-light mt-3">Your scoreboard does not have any objectives.</p>
    }
    else
    {
        @foreach (var objective in _scoreboard)
        {
            <Card class="my-3">
                <Content>
                    <CardHeader>
                        <div class="row m-0">
                            <h5 class="my-auto mr-2">@objective.Name</h5>
                            <button class="btn btn-secondary btn-sm" @onclick="() => js.CopyToClipboard(objective.Id)">Copy ID</button>

                            <button class="btn btn-outline-danger btn-sm ml-auto" @onclick="() => DeleteObjective_Click(objective)">Delete</button>
                        </div>
                    </CardHeader>
                    <CardBody>
                        <Table Hover="true">
                            <Head>
                                <tr>
                                    <th scope="col">User</th>
                                    <th scope="col">Score</th>
                                </tr>
                            </Head>
                            <Body>
                                @foreach (var score in objective.Scores)
                                {
                                    <tr>
                                        <td>
                                            <UserLink User="score.User"></UserLink>
                                        </td>
                                        <td>
                                            @score.Value
                                        </td>
                                    </tr>
                                }
                            </Body>
                        </Table>
                    </CardBody>
                </Content>
            </Card>
        }
    }
}