@model RegisterViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<p>Create a new account.</p>

<form method="post" asp-antiforgery="true">
    <div class="form-group">
        <label asp-for="@Model.Username"></label>
        <input asp-for="@Model.Username" class="form-control" />
        <span asp-validation-for="@Model.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Password"></label>
        <input asp-for="@Model.Password" class="form-control" />
        <span asp-validation-for="@Model.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ConfirmPassword"></label>
        <input asp-for="@Model.ConfirmPassword" class="form-control" />
        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-light">Register</button>
    </div>
</form>
<p>Already have an account? <a href="/login" class="text-darklink">Login</a></p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
