@page "/oauth/authorize"
@model TobyMeehan.Com.Accounts.Pages.Authorize

@if (Model.Error is not null)
{
    <div class="text-center">
        <h1 class="text-2xl font-light mb-1.5">Error</h1>
        
        <div class="my-auto">
            @switch (Model.Error.Error)
            {
                case "client_id":
                    <p>Unknown Application</p>
                    break;
                    
                case "something_happened":
                    <p>An unknown error occurred. Please try authorizing again.</p>
                    break;
                    
                case {} error when Model.Error.Message is {} message:
                    <p>@error: @message</p>
                    break;
                    
                default:
                    <p>Invalid @Model.Error.Error</p>
                    break;
            }
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="text-2xl font-light mb-1.5">Connect to <span class="font-bold">@Model.Client?.Name</span></h1>
    
        <p class="my-1.5">A third party application wants to access your tobymeehan.com account.</p>
    
        <p class="my-1.5 text-sm">
            Signed in as 
            <span class="text-flash">@Model.Owner?.Handle</span> 
            <a class="link ml-0.5" asp-page="@nameof(Logout)" asp-route-ReturnUrl="@Model.ReturnUrl">
                Change
            </a>
        </p>
    
        <hr class="my-1.5 border-flash" />
    
        <p class="my-1.5">This give the developer of @Model.Client?.Name permission to:</p>
    </div>

    <ul class="list-disc list-inside">
        @foreach (string scope in Model.Scopes)
        {
            switch (scope)
            {
                case Scope.Identify:
                    <li>View your username, balance and roles.</li>
                    break;
                
                case Scope.Transactions:
                    <li>Send and receive transactions.</li>
                    break;
                
                case Scope.Downloads:
                    <li>Create and manage your downloads.</li>
                    break;
            }
        }
    </ul>

    <hr class="border-flash mt-auto" />

    <div class="mb-3 leading-5 text-center">
        <small>You can revoke access at any time using the Connections tab in your account settings.</small>
    </div>

    <div class="md:flex md:justify-between">
        <form method="post">
            <button class="btn btn-primary px-1.5 text-md w-full md:w-auto" type="submit">
                Authorize
            </button>
        </form>
        
        <form method="post">
            <input name="cancel" type="hidden" value="true" />
            
            <button class="block link mt-3 md:m-0 py-1.5 w-full md:w-auto text-center" type="submit">
                Cancel
            </button>
        </form>
    </div>
    
    <form method="post">
        <div class="md:flex md:justify-between">
            

            
        </div>
    </form>   
}
