@page "/me"
@layout SettingsLayout

@inject JavaScript interop

<Title>My Account</Title>

<AuthorizeView>
    <Card class="my-3">
        <h3>
            <InputAvatar User="CurrentUser" Id="UploadAvatar" OnChange="ProfilePicture_Change" OnDelete="RemoveProfilePicture"></InputAvatar>

            <Username User="CurrentUser" IncludeAvatar="false"></Username>
        </h3>
    </Card>

    <Card class="my-3">
        <div class="form-group">
            <label>Username</label>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control-plaintext form-control-sm p-1" value="@CurrentUser.Username" readonly />
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#UsernameModal">Change</button>
                </div>
            </div>
        </div>

        <hr />

        <EditForm Model="CurrentUser" OnValidSubmit="DescriptionForm_Submit" Context="editContext">
            <div class="form-group">
                <label>Description</label>
                <InputRichText Id="Description" @bind-Value="CurrentUser.Description" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </EditForm>
    </Card>

    <Card class="my-3">
        <div class="form-group">
            <button class="btn btn-warning" data-toggle="modal" data-target="#PasswordModal">Change Password</button>
            <button class="btn btn-danger" data-toggle="modal" data-target="#DeleteModal">Delete Account</button>
        </div>
    </Card>
</AuthorizeView>

<Modal id="UsernameModal">
    <Title>
        Change Username
    </Title>
    <Body>
        <EditForm Model="@_usernameModel" OnValidSubmit="UsernameForm_Submit">
            <DataAnnotationsValidator />
            <ServerSideValidator @ref="_usernameValidator" />

            <div class="form-group">
                <label for="Username">Username</label>
                <InputText id="Username" class="form-control" @bind-Value="_usernameModel.Username" />
                <ValidationMessage For="(() => _usernameModel.Username)" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Change</button>
            </div>
        </EditForm>
    </Body>
</Modal>

<Modal id="PasswordModal">
    <Title>
        Change Password
    </Title>
    <Body>
        <EditForm Model="_passwordModel" OnValidSubmit="PasswordForm_Submit">
            <DataAnnotationsValidator />
            <ServerSideValidator @ref="_passwordValidator" />

            <div class="form-group">
                <label for="CurrentPassword">Current Password</label>
                <InputText type="password" id="CurrentPassword" class="form-control" @bind-Value="_passwordModel.CurrentPassword" />
                <ValidationMessage For="@(() => _passwordModel.CurrentPassword)" />
            </div>

            <div class="form-group">
                <label for="NewPassword">New Password</label>
                <InputText type="password" id="NewPassword" class="form-control" @bind-Value="_passwordModel.NewPassword" />
                <ValidationMessage For="@(() => _passwordModel.NewPassword)" />
            </div>

            <div class="form-group">
                <label for="ConfirmNewPassword">Confirm New Password</label>
                <InputText type="password" id="ConfirmNewPassword" class="form-control" @bind-Value="_passwordModel.ConfirmNewPassword" />
                <ValidationMessage For="@(() => _passwordModel.ConfirmNewPassword)" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Change</button>
            </div>
        </EditForm>
    </Body>
</Modal>

<Modal id="DeleteModal">
    <Title>
        Delete Account
    </Title>
    <Body>
        <AuthorizeView Policy="@AuthorizationPolicies.IsAdmin">
            <NotAuthorized>
                <EditForm Model="_deleteModel" OnValidSubmit="DeleteForm_Submit" Context="deleteFormContext">
                    <DataAnnotationsValidator />
                    <ServerSideValidator @ref="_deleteValidator" />

                    <div class="form-group">
                        <label for="Password">Password</label>
                        <InputText type="password" id="Password" class="form-control" @bind-Value="_deleteModel.Password" />
                        <ValidationMessage For="(() => _deleteModel.Password)" />
                    </div>
                </EditForm>
            </NotAuthorized>
            <Authorized>
                <p class="text-danger">Admin accounts cannot be deleted.</p>
            </Authorized>
        </AuthorizeView>
    </Body>
</Modal>

@code {
    private RenderFragment _alertContent =>@<span>Your password was changed.</span>;
}