@page "/me/transactions"
@layout SettingsLayout

<Title>Transactions</Title>

<Card class="my-3">
    <h1>Transactions</h1>
</Card>

<Card class="my-3">
    <p>Balance: @CurrentUser.Balance</p>

    @foreach (var date in CurrentUser.Transactions.OrderByDescending(x => x.Sent).GroupBy(x => x.Sent.Date))
    {
        <Table>
            <Head>
                <tr>
                    <th colspan="4" class="text-center">@date.Key.ToLongDateString()</th>
                </tr>
            </Head>
            <Body>
                @foreach (var transaction in date)
                {
                    <tr>
                        <td>
                            <div class="row m-0">
                                <div class="mr-1" style="width: 1.4em;">
                                    <AppIcon Application="transaction.Application" FontSize="0.7"></AppIcon>
                                </div>

                                @transaction.Application.Name
                            </div>
                        </td>
                        <td>@transaction.Description</td>
                        <td>@transaction.Amount</td>
                        <td>@transaction.Sent.TimeOfDay.Hours:@transaction.Sent.TimeOfDay.Minutes</td>
                    </tr>
                }
            </Body>
        </Table>
    }
</Card>