@page "/me/transactions"
@layout SettingsLayout

<Title>Transactions</Title>

<Card class="my-3">
    <h1>Transactions</h1>
</Card>

<Card class="my-3">
    <p class="lead"><strong>Balance:</strong> @CurrentUser.Balance</p>

    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10">
            <ul class="list-group w-100">
                @foreach (var page in _transactions)
                {
                    if (page != null)
                    {
                        foreach (var transaction in page)
                        {
                            <li class="list-group-item flex-column align-items-start">
                                <h5 class="d-flex w-100 justify-content-between">
                                    <span>
                                        <MiniAppIcon Application="transaction.Application"></MiniAppIcon>
                                        @transaction.Application.Name
                                    </span>
                                    <span>
                                        @Amount(transaction)
                                    </span>
                                </h5>
                                <div class="d-flex w-100 justify-content-between">
                                    <p>
                                        @transaction.Sent.ToOrdinalWords()
                                    </p>
                                    <p>
                                        @transaction.Description
                                    </p>
                                </div>
                            </li>
                        }
                    }
                }
                <li class="list-group-item text-center">
                    @if (!_transactions.Any())
                    {
                        <p>Nothing to show, saving up for something?</p>
                    }
                    else if (_transactions.Last() == null)
                    {
                        <Loading></Loading>
                    }
                    else
                    {
                        <span>
                            <button type="button" class="btn btn-link" @onclick="LoadNextPage">
                                <i class="fas fa-sync-alt"></i>
                                Show more
                            </button>
                        </span>
                    }
                </li>
            </ul>
        </div>

        <div class="col-md-1"></div>
    </div>
</Card>