@page "/me/transactions"
@layout SettingsLayout

<Title>Transactions</Title>

<Card class="my-3">
    <h1>Transactions</h1>
</Card>

<Card class="my-3">
    <p class="lead"><strong>Balance:</strong> @CurrentUser.Balance</p>

    @if (_transactions == null)
    {
        <Loading></Loading>
    }
    else if (_transactions.Count <= 0)
    {
        <p>You have no transactions.</p>
    }
    else
    {
        <Pagination Items="_transactions" Range="2" class="justify-content-center">
            <Table>
                <Head>
                    <tr>
                        <th colspan="4" class="text-center">@context.Key.ToLongDateString()</th>
                    </tr>
                </Head>
                <Body>
                    @foreach (var transaction in context)
                    {
                        <tr>
                            <td>
                                <MiniAppIcon Application="transaction.Application"></MiniAppIcon>
                                @transaction.Application.Name
                            </td>
                            <td>@transaction.Description</td>
                            <td>@transaction.Amount</td>
                            <td>@transaction.Sent.ToShortTimeString()</td>
                        </tr>
                    }
                </Body>
            </Table>
        </Pagination>
    }
</Card>