
<div class="@($"progress {_cssClass}")" @attributes="@AdditionalAttributes.Where(x => x.Key != "class")">
    <div class="@($"progress-bar bg-{Context.ToString().ToLower()}")" role="progressbar"
         style="@($"width: {PercentageProgress}%")"
         aria-valuemin="0" aria-valuenow="@PercentageProgress" aria-valuemax="100">

        @ChildContent

    </div>
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object> AdditionalAttributes { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public int PercentageProgress { get; set; }

    [Parameter] public BootstrapContext Context { get; set; }

    private string _cssClass = "";

    protected override void OnInitialized()
    {
        if (AdditionalAttributes.TryGetValue("class", out object cssClass))
        {
            _cssClass = cssClass.ToString();
        }
    }
}