@inherits AttributableComponentBase

    <div class="progress @CssClass" @attributes="AdditionalAttributes" aria-valuemin="0" aria-valuenow="@PercentageProgress" aria-valuemax="100">
        <div class="progress-bar button-purple" style="@($"width: {PercentageProgress.Clamp(0, 20)}%;")"></div>

        @if (PercentageProgress > 20)
        {
            <div class="progress-bar button-blue" style="@($"width: {(PercentageProgress - 20).Clamp(0, 20)}%;")"></div>
        }

        @if (PercentageProgress > 40)
        {
            <div class="progress-bar button-green" style="@($"width: {(PercentageProgress - 40).Clamp(0, 20)}%;")"></div>
        }

        @if (PercentageProgress > 60)
        {
            <div class="progress-bar button-yellow" style="@($"width: {(PercentageProgress - 60).Clamp(0, 20)}%;")"></div>
        }

        @if (PercentageProgress > 80)
        {
            <div class="progress-bar button-orange" style="@($"width: {(PercentageProgress - 80).Clamp(0, 13)}%;")"></div>
        }

        @if (PercentageProgress > 93)
        {
            <div class="progress-bar button-red" style="@($"width: {(PercentageProgress - 93).Clamp(0, 7)}%;")"></div>
        }
    </div>

@code {
    [Parameter] public int PercentageProgress { get; set; }
}
